# Python cache / bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# PyInstaller
build/
artifacts/
dist/
*.spec.bak

# Packaging metadata
*.egg-info/
*.egg

# IDE / editor
.vscode/
.idea/
*.swp
